<div class="container masthead">
    <div class="row">
        <h1 class="mt-4"><%= @article.heading %></h1>
        <hr>
        <p>
            <%= @article.created_at.strftime("%B %e, %Y at %l:%M %p UTC") %>
            •  Updated <%= time_ago_in_words(@article.updated_at) %> ago
        </p>
        <hr>
        <p class="lead">
            <%= @article.subheading %>
        </p>
        <p>
            <%= @article.body.gsub(/\n/, '<br/>').html_safe  %>
        </p>
        <hr>
    </div>

    <p>
        <%= link_to 'Edit', article_edit_path, class: "btn btn-warning" %>
        <%= link_to 'Delete', article_delete_path, class: 'btn btn-danger pull-right', method: :delete, data: { confirm: 'Delete this article?' } %>
        <%= link_to 'Go Back', articles_path, class: "btn btn-default" %>
    </p>
</div>